{% extends "account/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block extrahead %}
    <title>Change Password - MechPages</title>
{% endblock %}

{% block intro %}
    <h1><span class="colortext">{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</span></h1>
{% endblock %}

{% block content %}
    <div class="text-center">
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please
                request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            {% if form %}
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">x</a>
                        <i class="icon-coffee"></i>
                        You will be redirected to the login page after you successfully set your password
                    </div>
                </div>
                <div class="row">
                    <div class="smalltitle form">
                        <form method="POST" action=".">
                            {% csrf_token %}
                            <div class="col-xs-12 text-left text-danger">{{ form.non_field_errors }}</div>
                            <div class="col-xs-12 text-left text-danger">{{ form.password1.errors }}</div>
                            {{ form.password1|attr:"class:col-xs-12"|attr:"placeholder:Password" }}
                            <div class="col-xs-12 text-left text-danger">{{ form.password2.errors }}</div>
                            {{ form.password2|attr:"class:col-xs-12"|attr:"placeholder:Password (again)" }}
                            <input type="submit" name="action" class="btn btn-default" value="Change Password"/>
                        </form>
                    </div>
                </div>
            {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
