{% extends "account/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block extrahead %}
    <title>Set Password - MechPages</title>
{% endblock %}

{% block intro %}
    <h1><span class="colortext">Set Password</span></h1>
{% endblock %}

{% block content %}
    <div class="col-md-6 col-md-offset-3 alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">x</a>
        <i class="icon-coffee"></i>
        You will be logged out after you set your password.
    </div>
    <div class="text-center smalltitle form topspace20">
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            <div class="col-xs-12 text-left text-danger">{{ form.non_field_errors }}</div>
            <div class="col-xs-12 text-left text-danger">{{ form.password1.errors }}</div>
            {{ form.password1|attr:"class:col-xs-12"|attr:"placeholder:Password" }}
            <div class="col-xs-12 text-left text-danger">{{ form.password2.errors }}</div>
            {{ form.password2|attr:"class:col-xs-12"|attr:"placeholder:Password (again)" }}
            <input type="submit" class="btn btn-default" name="action" value="Set Password"/>
        </form>
    </div>
{% endblock %}
