{% extends "account/base.html" %}
{% load i18n %}
{% load account %}

{% block extrahead %}
    <title>Password Reset - MechPages</title>
{% endblock %}

{% block intro %}
    <h1><span class="colortext">Password Reset</span></h1>
{% endblock %}

{% block content %}
    <strong class="text-center">
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
    </strong>
    <p class="text-center">{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    <div class="text-center smalltitle form">
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            <div class="col-xs-12">{{ form.non_field_errors }}</div>
            <div class="col-xs-12">{{ form.email.errors }}</div>
            <input class="col-xs-12" id="id_email" type="email" name="email" placeholder="E-mail" autofocus>
            <input type="submit" class="btn btn-default" value="Reset My Password">
        </form>
    </div>
    <p class="text-center topspace40">{% blocktrans %}Please contact us if you have any trouble resetting your
        password.{% endblocktrans %}</p>
{% endblock %}
