{% extends "account/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block extrahead %}
    <title>Change Password - MechPages</title>
{% endblock %}

{% block intro %}
    <h1><span class="colortext">Change Password</span></h1>
{% endblock %}

{% block content %}
    <div class="col-md-6 col-md-offset-3 alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">x</a>
        <i class="icon-coffee"></i>
        You will be logged out after you changed your password.
    </div>
    <div class="text-center smalltitle form topspace20">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            <div class="col-xs-12 text-left text-danger">{{ form.non_field_errors }}</div>
            <div class="col-xs-12 text-left text-danger">{{ form.oldpassword.errors }}</div>
            {{ form.oldpassword|attr:"class:col-xs-12"|attr:"placeholder:Current Password" }}
            <div class="col-xs-12 text-left text-danger">{{ form.password1.errors }}</div>
            {{ form.password1|attr:"class:col-xs-12"|attr:"placeholder:New Password" }}
            <div class="col-xs-12 text-left text-danger">{{ form.password2.errors }}</div>
            {{ form.password2|attr:"class:col-xs-12"|attr:"placeholder:New Password (again)" }}
            <input type="submit" class="btn btn-default" name="action" value="Change Password"/>
        </form>
    </div>
{% endblock %}
