{% extends "account/base.html" %}
{% load i18n %}

{% block extrahead %}
    <title>Verify Your E-mail Address - MechPages</title>
{% endblock %}

{% block intro %}
    <h1><span class="colortext">Verify Your E-mail Address</span></h1>
{% endblock %}

{% block content %}
    <p>This part of the site requires us to verify that you are who you claim to be. For this purpose, we require that
        you verify ownership of your e-mail address.</p>

    <p>We have re-sent an e-mail to you for verification. Please click on the link inside this e-mail.</p>

    <p>You can also change your e-mail address in your profile settings.</p>

{% endblock %}
