{% extends "socialaccount/base.html" %}

{% block extrahead %}
    <title>Sign Up - MechPages</title>
{% endblock %}

{% load i18n %}

{% block intro %}
    <h1><span class="colortext">Enter Your Email</span></h1>
{% endblock %}

{% block content %}
    <p class="text-center">{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are
        about to use your {{ provider_name }} account to login to
        {{ site_name }}. As a final step, please enter your email:{% endblocktrans %}</p>

    <div class="text-center smalltitle form">
        <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
            {% csrf_token %} </br>
            {#{{ form.as_p }}#}
            <div class="col-xs-12">{{ form.non_field_errors }}</div>
            <div class="col-xs-12">{{ form.email.errors }}</div>
            <input class="col-xs-12" id="id_email" type="email" name="email" placeholder="E-mail Address" autofocus>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <input type="submit" class="btn btn-default" value="Sign Up &raquo;">
        </form>
    </div>
{% endblock %}
